services:
  quake_server:
    image: zobees/quakeworld:latest
    container_name: quake_server
    platform: linux/amd64
    ports:
      - "26000:26000/udp"
    volumes:
      - ./quake_data/id1:/qw-mount/id1
      - ./quake_data/server.cfg:/qw-mount/server.cfg
      - ./quake_data/maps:/qw-mount/maps
      - ./quake_data/mods:/qw-mount/mods
    restart: unless-stopped

  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
      - SERVERURL=auto
      - SERVERPORT=51820
      - PEERS=1
      - PEERDNS=1.1.1.1
    volumes:
      - ./wg-config:/config
    ports:
      - "51820:51820/udp"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped